    tasklist-eclipse/app/**
!tasklist-eclipse/app/diagram.html

*.log
*.ttf

.classpath
.project
.settings/
build/
bin
.bin
target
.target
.target/
lib
node_modules/
dist/
.gradle
.DS_Store
.apt_generated
Thumbs.db
*.class
*.log
*.[oa]
tsconfig.tsbuildinfo

